<a href="/spaceair/cart.php" title="Carrello">
    <img src="./res/icons/shopping_cart-white-18dp.svg" class="logo-header" alt="carrello">
</a>
<a href="/spaceair/notification.php" class="notification" title="Notifiche">
    <img src="./res/icons/notifications-white-18dp.svg" class="logo-header" alt="notifiche">
    <span class="badge invisible notification-badge">0</span>
</a>
<a href="/spaceair/profile.php" title="Account">
    <img src="./res/icons/account_circle-white-18dp.svg" class="logo-header" alt="account">
</a>