<a href="./cart.php" title="Carrello">
    <img src="/spaceair/res/icons/shopping_cart-white-18dp.svg" class="logo-header" alt="carrello">
</a>
<a href="#" class="notification" title="Notifiche">
    <img src="/spaceair/res/icons/notifications-white-18dp.svg" class="logo-header" alt="notifiche">
    <!--Use visible or invisible for hide or show-->
    <span class="badge visible">1</span>
</a>
<a href="./profile.php" title="Account">
    <img src="/spaceair/res/icons/account_circle-white-18dp.svg" class="logo-header" alt="account">
</a>