.logo-header {
    width: 30px;
    height: 30px;
}

.bg-custom {
    background-color: #071E39; 
}

.bg-sec {
    background-color: #1C3D65; 
}

ul.navbar-nav > li.nav-item > a.nav-link {
    color: #E4E4E4;
}



.col-title {
    color: #ffffff;
}

.col-error {
    color: #CF6679;
}

.col-text {
    color: #E4E4E4;
}
.col-link {
    color: #DBCBCB;
}
a.col-text:hover {
    color: #DBCBCB;
}

a.col-text:active {
    color: #DBCBCB;
}

.col-dark {
    color: #343C44;
}

.col-blue {
    color: #071E39;
}

.col-btn-impo {
    background-color: #CF6679;
}

.col-btn-regular {
    background-color: #DBCBCB;
}

.col-back-white {
    background-color: #E4E4E4;
}

.home-img {
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.scale-x2 {
    transform:scale(2,2);
}

.space-vertical {
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer a {
    font-size: 0.8em;
}

label, h1 {
    color: #ffffff;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

textarea {
    overflow: hidden; 
    resize: none; 
    outline: none;
}

/*Handle header decorative images*/
.decorative-img {
    max-height: 150px;
}

.planet-img {
    max-height: 70px;
    background-color: #071E39;
    border-radius: 10%;
}

.list-impo-text {
    font-size: 1.3em;
}

.impo-text {
    font-size: 2em;
}

/* Handle notification badge */
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }

.notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 2px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}

.cart-total {
    border-top: 2px solid white;
}


  
